@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

/* class選擇器 */
/* 頂部白色區 */
.top_block {
    display: flex; 
    margin: 5px auto 10px auto; 
    width: 1200px;
}
.taipei_block {
    display: flex;
     margin-left: 20px; 
     cursor: pointer;
}
#taipei_travel_title {
    font-size: 28px; 
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 700; 
    color: #4e7cbcf0;
}

/* 最左邊圖片預覽區 */
#main_wrap {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 1200px;
    margin: 30px auto 30px auto;
}
#preview_img_wrap {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-right: 20px;
    border-radius: 8px; 
    width: 12%; 
    height: 400px;
}
.small_img_wrap {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px;
    width: 150px; 
    height: 90px; 
    overflow: hidden; 
    border:1px rgb(80, 80, 80) solid;
}
.small_img {
    width: 100%;
    filter: contrast(30%)
}

/* 中間主要圖片區 */
#main_img_wrap {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20px; 
    border-radius: 8px;
    width: 50%; 
    height: 400px; 
    overflow: hidden; 
    position: relative;
}
.attraction_img_block {
    width: 100%; 
    height: 400px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.attraction_img {
    width: 100%;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 45%; 
    padding: 10px;
    background-color:white; 
    opacity: 65%; 
    color: black; 
    font-weight: bold; 
    font-size: 20px;
    user-select: none; 
    -webkit-user-select: none;
}
.prev:hover, .next:hover {
    opacity: 80%;
}

/* 最右邊景點介紹及預訂行程區 */
.detail_and_reserve {
    background-color: #e6e6e6;
    width: 33%; 
    height: auto; 
    border-radius: 8px;
}
#attraction_name {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 500; 
    font-size: 24px; 
    color: rgb(63, 63, 71);
    padding-top: 10px; 
    padding-left: 20px; 
    width: 80%;
}
#heart_icon_block {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width:15%; 
    margin-top: 15px;
}
#red_heart {
    display: none; 
    width: 25px; 
    cursor: pointer;
}
#white_heart {
    width: 30px; 
    cursor: pointer;
}
.line_under_attraction_name {
    border-bottom: 1px solid #c5c5d8; 
    margin: 10px 20px 10px 20px;
}
.detail {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    color: rgb(63, 63, 71);
    margin-top: 20px; 
    margin-left: 20px;
}
.attraction_div {
    margin-top: 20px; 
    margin-left: 20px;
}
.select_span {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    color: rgb(63, 63, 71);
}
#select_date {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    font-size: 16px; 
    padding-left: 10px; 
    padding-right: 10px; 
    height: 30px; 
    width: 120px;
    border: none; 
    border-radius: 5px; 
    outline:none;
}
#select_travelers {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    font-size: 16px; 
    text-align: center;
    height: 30px; 
    width: 142px;
    outline: none;
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
}
#booking_div {
    display: flex;
    flex-wrap: wrap;
}
#booking_click {
    margin: 40px 0px 10px 20px; 
    width: 120px; 
    text-align: center; 
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    font-size: 18px; 
    color: white;
    background-color: #DD9C5E; 
    border-radius: 5px; 
    cursor: pointer;
}
#booking_click:hover {
    opacity: 80%;
}
#reserve_status {
    margin: 40px 0px 10px 20px; 
    text-align: center; 
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400;
    color: rgb(63, 63, 71);
}
.bottom_hr {
    width: 1185px; 
    border: 1px solid #e6e6e6;
}

/* 下面一大串文字介紹區 */
#introduction {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center; 
    width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 30px;
}
.introduction_statement {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    color: rgb(89, 89, 94);
    text-align: justify;
     width: 1170px;
}
.introduction_category {
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 400; 
    color: rgb(89, 89, 94);
    width: 1170px; 
    margin-top: 30px; 
    margin-bottom: 30px;
}


@media screen and (max-width:1200px){
    .top_block {
        width: 95%;
    }
    #main_wrap {
        width: 95%;
    }
    #preview_img_wrap { 
        display: none;
    }
    .attraction_img {
        height: 400px;
        object-fit: cover;
    }
    .detail_and_reserve { 
        width: 45%; 
        height:auto;
    }
    #booking_click { 
        margin-bottom: 20px;
    }
    .bottom_hr { 
        width: 95%;
    }
    #introduction {
        width: 93%;
    }
}

@media screen and (max-width:700px){
    .top_block {
        width: 98%;
    }
    #main_wrap { 
        width: 98%;
    }
    #preview_img_wrap { 
        display: none; 
    }
    #main_img_wrap {
        width: 98%;
        height: 350px;
        margin: auto;
    }
    .attraction_img_block {
        height: 350px;
    }
    .attraction_img { 
        height: 350px;
        object-fit: cover;
    }
    .detail_and_reserve { 
        width: 98%; 
        margin-top: 20px;
    }
    .bottom_hr { 
        width: 93%; 
    }
    #introduction {
        width: 92%;
    }
}