<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name = "viewport" content = "width=device-width,initial-scale=1,maximum-scale=1"/>
	<title>Taipei Itinerary Planner</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body onload = "first_page()">
	<div style = "display: flex; margin: 5px;">
		<div class = "taipei_block">
			<span class = "taipei_font">台北旅遊</span>
		</div>
		<div class = "login_block">
			<div class = "login_font">登入/註冊
                <div class="shape-line" ></div>
            </div>
		</div>
	</div>

    <!-- 101背景區域 -->
	<div class = "taipei101_background">
        <div class = "welcome_title">Let's Go  Explore  Taipei</div>
        <div style="display: flex; margin-top: 65px;">
            <input type="text" id = "search_attraction" class="search_attraction_input" placeholder="  請輸入景點名稱"/>
            <button class="search_attraction_buttun" onclick="search_attraction_click()">
                <img src="../static/img/icon_search.png" width="60%">
            </button>
        </div>
	</div>

    <!-- 景點圖片區 -->
    <div id = "main_line">
        <div class="select_box">
            <select id = 'select_distric'>
                <option selected disabled>- - 請選擇區域 - -</option>    
                <option value="士林區">士林區</option>
                <option value="松山區">松山區</option>
                <option value="信義區">信義區</option>
                <option value="北投區">北投區</option>
                <option value="大安區">大安區</option>
                <option value="中山區">中山區</option>
                <option value="中正區">中正區</option>
                <option value="內湖區">內湖區</option>
                <option value="南港區">南港區</option>
                <option value="大同區">大同區</option>
                <option value="萬華區">萬華區</option>
                <option value="文山區">文山區</option>
            </select>
        </div>
    </div>

    <div class="page_icon_box">
        <div class="page_icon previous_page" id="previous_page_icon">上一頁</div>
        <div class="page_icon specify_page">1</div>
        <div class="page_icon specify_page">2</div>
        <div class="page_icon specify_page">3</div>
        <div class="page_icon specify_page">4</div>
        <div class="page_icon specify_page">5</div>
        <div class="page_icon specify_page">6</div>
        <div class="page_icon specify_page">7</div>
        <div class="page_icon next_page" id="next_page_icon">下一頁</div>
    </div>

    <footer class="page_bottom">
        <div>資料來源 : 臺北旅遊網 Open API</div>
    </footer>

    <script src="{{ url_for('static',filename='js/api.js') }}"></script>
</body>
<html>