<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name = "viewport" content = "width=device-width,initial-scale=1,maximum-scale=1"/>
	<title>Taipei Itinerary Planner</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/booking.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/include_all.css') }}">
    <script src="{{ url_for('static',filename='js/member.js') }}" defer></script>
    <script src="{{ url_for('static',filename='js/booking.js') }}" defer></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.12.1"></script>
</head>
<body>
	<div class="top_block">
		<div class = "taipei_block">
            <a href="/" style="text-decoration: none">
			    <span id="taipei_travel_title">台北旅遊</span>
            </a>
		</div>
		<div class = "login_and_reserve_block">
            <div>
                <img id="member_icon" src="../static/img/user_1.png">
                <ul id="burger">
                    <li id="member_only">會員專區</li>
                    <li id="already_booking">行程購物車</li>
                    <li id="logout">登出</li>
                </ul>
            </div>
			<div id="login_or_singup" class = "login_and_reserve_font">登入/註冊
                <div class="shape-line"></div>
            </div>
            <div id="member_area" class = "login_and_reserve_font">
                <div class="shape-line"></div>
            </div>
		</div>
	</div>
    <div style="border-bottom: 1px solid #e8e8e8f3"></div>
    <div id="main_wrap">
        <div id="say_hello_block">
            <span class="say_hello_span">哈囉，</span>
            <span id="hello_name" class="say_hello_span">&nbsp</span>
            <span class="say_hello_span">，您預定的行程如下:</span>
        </div>
        <div id="booking_detail_block">
            <div class="img_block">
                <img id="booking_img">
            </div>
            <div id="booking_detail">
                <div id="attraction_name">
                    <span id="attraction"></span>
                    <div id="trash_block"><img id="trash" src="../static/img/trash.png"></div>
                </div>
                <div class="booking_detail_span">
                    <span>日期 :&nbsp</span>
                    <span id="date"></span>
                </div>
                <div class="booking_detail_span">
                    <span>電話 :&nbsp</span>
                    <span id="phone"></span>
                </div>
                <div class="booking_detail_span">
                    <span>地址 :&nbsp</span>
                    <span id="address"></span>
                </div>
                <div class="booking_detail_span">
                    <span>費用 :&nbsp</span>
                    <span id="cost"></span>
                </div>
            </div>
            <!-- <div id="trash_block"><img id="trash" src="../static/img/trash.png"></div> -->
        </div>

        <hr class="bottom_hr">

        <div class="user_detail_block">
            <div class="user_detail_span" id="your_info">
                <span>您的聯絡資訊</span>
            </div>
            <div class="user_detail_span">
                <span>聯絡姓名 :&nbsp</span>
                <input id="contact_name" type="text" disabled></span>
            </div>
            <div class="user_detail_span">
                <span>聯絡信箱 :&nbsp</span>
                <input id="contact_email" type="text" disabled></span>
            </div>
            <div class="user_detail_span">
                <span>電話號碼 :&nbsp</span>
                <input id="user_phone" type="text"></span>
            </div>
        </div>

        <hr class="bottom_hr">

        <div class="user_detail_block">
            <div class="credict_card_block" id="your_info">
                <span>信用卡資訊</span>
            </div>
            <div class="credict_card_block">
                <span>卡片號碼 :&nbsp</span>
                <div class="tpfield" id="card-number"></div>
                <!-- <input id="card_number" type="text"> -->
            </div>
            <div class="credict_card_block">
                <span>過期時間 :&nbsp</span>
                <div class="tpfield" id="card-expiration-date"></div>
                <!-- <input id="card_expiration" type="text"> -->
            </div>
            <div class="credict_card_block">
                <span>安全代碼 :&nbsp</span>
                <div class="tpfield" id="card-ccv"></div>
                <!-- <input id="card_cvv" type="text"> -->
            </div>
        </div>

        <hr class="bottom_hr">

        <div class="user_detail_block">
            <div id="total_price_block">
                <span>總價 :&nbsp新台幣</span>
                <span id="total_price_span"></span>
            </div>
            <div id="pay_money_block">
                <div id="pay_money">確認付款</div>
            </div>
        </div>
    </div>

    <!-- 登入系統 -->
    <div id="login_interface_block">
        <div class="login_interface_top">
            <div class="login_title">登入會員帳號</div>
            <div id="login_icon_close_block">
                <img src="../static/img/icon_close.png">
            </div>
            <input type="text" id="login_username" class="longin_input" placeholder="請輸入帳號"/>
            <input type="password" id="login_password" class="longin_input" placeholder="請輸入密碼"/>
            <div id="login_click">登入帳戶</div>
            <div id="login_status">&nbsp</div>
            <div id="convert_to_signup">點此註冊</div>
        </div>
    </div>

    <!-- 註冊系統 -->
    <div id="signup_interface_block">
        <div class="signup_interface_top">
            <div class="login_title">註冊會員帳號</div>
            <div id="signup_icon_close_block">
                <img src="../static/img/icon_close.png">
            </div>
            <input type="text" id="signup_name" class="longin_input" placeholder="請輸入姓名"/>
            <input type="text" id="signup_username" class="longin_input" placeholder="請輸入帳號"/>
            <input type="password" id="signup_password" class="longin_input" placeholder="請輸入密碼"/>
            <input type="text" id="signup_email" class="longin_input" placeholder="請輸入電子信箱"/>
            <div id="signup_click">註冊新帳戶</div>
            <div id="signup_status">&nbsp</div>
            <div id="convert_to_login">已經有帳戶? 點此登入</div>
        </div>
    </div>

    <div id="background_oppacity"></div>
    <footer class="page_bottom">
        <div>
            <div id="footer_description_1">資料來源 : 臺北旅遊網 Open API</div>
            <div id="footer_description_2">本網站僅為練習使用，無商業用途</div>
        </div>
    </footer>
</body>
<html>