<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name = "viewport" content = "width=device-width,initial-scale=1,maximum-scale=1"/>
	<title>Taipei Itinerary Planner</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/member_area.css') }}">
    <script src="{{ url_for('static',filename='js/member.js') }}" defer></script>
</head>
<body>
	<div class="top_block">
		<div class = "taipei_block">
            <a href="/" style="text-decoration:none">
			    <span id="taipei_travel_title">台北旅遊</span>
            </a>
		</div>
		<div class = "login_and_reserve_block">
            <div id="reserve" class = "login_and_reserve_font">預定行程
                <div class="shape-line"></div>
            </div>
			<div id="logout" class = "login_and_reserve_font">登出
                <div class="shape-line"></div>
            </div>
		</div>
	</div>
    

    <div id="background_oppacity"></div>
    <footer class="page_bottom">
        <div>資料來源 : 臺北旅遊網 Open API</div>
    </footer>

</body>
<html>